.grass {
    background: rgba(120,200,80,0.7);
}

.fire {
    background: rgba(240,128,48,0.7);
}

.water {
    background: rgba(104,144,240,0.7);
}

.bug {
    background: rgba(168,184,32,0.7);
}

.normal {
    background: rgba(168,168,120,0.7);
}

.electric {
    background: rgba(248,208,48,0.7);
}

.poison {
    background: rgba(160,64,160,0.7);
}

.ground {
    background: rgba(224,192,104,0.7);
}

.fairy {
    background: rgba(238,153,172,0.7);
}

.psychic {
    background: rgba(248,88,136,0.7);
}

.fighting {
    background: rgba(192,48,40,0.7);
}

.rock {
    background: rgba(184,160,56,0.7);
}

.ghost {
    background: rgba(112,88,152,0.7);
}

.ice {
    background: rgba(152,216,216,0.7);
}

.dragon {
    background: rgba(112,56,248,0.7);
}